{
  "PAC-vPC-llama31-8b": "your_password_here",
  "PAC-vPC-gemma3-4b": "your_password_here",
  "PAC-vPC-gemma3-1b": "your_password_here",
  "PAC-vPC-qwen3-8b": "your_password_here",
  "PAC-vPC-qwen3-4b": "your_password_here",
  "PAC-vLLM-llama31-8b": "your_password_here",
  "PAC-vLLM-gemma3-12b": "your_password_here",
  "PAC-vLLM-gemma3-4b": "your_password_here",
  "PAC-vLLM-gemma3-1b": "your_password_here",
  "PAC-vLLM-qwen3-14b": "your_password_here",
  "PAC-vLLM-qwen3-8b": "your_password_here",
  "PAC-vLLM-qwen3-4b": "your_password_here",
  "PAC-vLLM-gpt-oss": "your_password_here",
  "PAC-vLLM-gem25f": "your_password_here",
  "PAC-vLLM-gem25fl": "your_password_here",
  "PAC-vPC-pokellmon": "your_password_here",
  "PAC-vPC-DC": "your_password_here",
  "PAC-vPC-ABYSSAL": "your_password_here",
  "PAC-vPC-MAX-POWER": "your_password_here"
}