{
  "PAC-PC-llama31-8b": "your_password_here",
  "PAC-PC-gemma3-4b": "your_password_here",
  "PAC-PC-gemma3-1b": "your_password_here",
  "PAC-PC-qwen3-8b": "your_password_here",
  "PAC-PC-qwen3-4b": "your_password_here",
  "PAC-LLM-llama31-8b": "your_password_here",
  "PAC-LLM-gemma3-12b": "your_password_here",
  "PAC-LLM-gemma3-4b": "your_password_here",
  "PAC-LLM-gemma3-1b": "your_password_here",
  "PAC-LLM-qwen3-14b": "your_password_here",
  "PAC-LLM-qwen3-8b": "your_password_here",
  "PAC-LLM-qwen3-4b": "your_password_here",
  "PAC-LLM-gpt-oss": "your_password_here",
  "PAC-LLM-gem25f": "your_password_here",
  "PAC-LLM-gem25fl": "your_password_here",
  "PAC-PC-pokellmon": "your_password_here",
  "PAC-PC-DC": "your_password_here",
  "PAC-PC-ABYSSAL": "your_password_here",
  "PAC-PC-MAX-POWER": "your_password_here"
}